:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #5D5E5E;
    --secondary-color: #ffffff;
    --tertiary-color: #66ccff;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.button {
  background-color: var(--tertiary-color);
  border: none;
  color: var(--secondary-color);
  padding: 6px 8px 4px 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.container{
  margin: 20px auto;
  width:400px;
  height:400px;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
  .w50{

    padding:20px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
  }

.heading {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: auto;
    padding: 10px 20px;
    max-width: 500px;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}

.song {
    padding: 2px;
    display: flex;
}

.song .title {
    flex: 20%;
}

.song .album {
    flex: 80%;
}

/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/
.song:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -40px;
}

.hidden {
    display: none;
}

/* table styles */ 

th, td {
    padding: 15px;
    text-align: left;
}

th {
    border-bottom: 1px solid var(--primary-color);
}

a {
    color: var(--tertiary-color);
    text-decoration: none;
}